body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#1A120B, #3C2A21);
}

#listDiv {
    height: 400px;
    overflow: auto;
    max-width: 70%;

}

#listDiv li {
    color: #D5CEA3;
    background-color: #3C2A21;
    border: 2px solid #D5CEA3;
    margin: 5px;
}